[DEFAULT]
log_file=/opt/stack/nfs/nfs.log

[CONTROLLER]
host=10.0.0.1
port=8087

[VOIP]
db=cadvisor
unix_sock=/opt/stack/nfs/voip.sock

; we collect data every 1000ms
[VOIP.CONTROL]
step_length=1000
period_length=10000
reference=5000
alpha = 1
cpu_table=cpu_usage_total
rx_table=rx_packets
tx_table=tx_packets
queue_table=snort_queue_length

[VOIP.MANAGER]
; ostack/docker
type=docker

[VOIP.TOPO]
kepler=10.0.0.1:2575
titan=10.0.0.2:2575

; optional
[VOIP.DB]
user=voip
password=voip
host=10.0.0.1
port=8000
