[DEFAULT]
log_file=/home/ubuntu/nfs/nfs.log

[LINE_PROTOCOL]
port=8086

[VOIP]
db=cadvisor
unix_sock=/home/ubuntu/nfs/nfs.sock

[VOIP.CONTROL]
step_length=100
period_length=600000
cpu_table=cpu_usage_total
rx_table=rx_packets
tx_table=tx_packets
